<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blockr Content Blocking Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Blockr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCF0472F1B71643700A4F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF047431B71643800A4F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF0474E1B71643800A4F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF047641B71645000A4F83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
